<?xml version="1.0"?>

<launch>

    <arg name="model" default="$(find robot0_description)/urdf/robot0.urdf" />
    <arg name="gui" default="false" />

    <param name="robot_description" command="cat $(find robot0_description)/urdf/robot0.urdf" />
    <param name="use_gui" value="$(arg gui)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot0_bringup)/launch/rviz_config/robot0.rviz" required="true" />

</launch>
